{% extends 'index.html' %} {% load static %} {% block body %}
<div class="content-wrapper">
    <div class="about-us-wrapper">
        <div class="container text-center" data-aos="zoom-in" data-aos-duration="1000">
            <h3 class="text-uppercase">Emagazine</h3>
            <h1 class="text-uppercase">About us</h1>
        </div>
    </div>
    <div class="container row m-auto pb-5 pt-0" style="overflow-x: hidden">
        <div class="col-lg-6" data-aos="slide-right" data-aos-duration="1000">
            <img class="img-fluid" src="{% static 'img/about.jpg'%}" alt="" />
        </div>
        <div class="col-lg-6 m-auto" data-aos="slide-left" data-aos-duration="1000">
            <h1 class="font-weight-bold">
                Emagazine, <br /> provides updates and information about latest Events, Activities, Workshops and much more.
            </h1>
        </div>
    </div>
</div>
{% endblock %}