{% extends 'index.html' %} {% load static %} {% block body %}

<!-- Page Content -->
<div class="container">
    <div class="main-display-wrapper">
        <div class="display-content" data-aos="fade" data-aos-duration="1000">
            <div class="banner">
                <img class="img-fluid" src="{{ event.event_banner.url }}" alt="" />
            </div>
            <br />
            <div class="title">
                <h1>{{ event.event_title }}</h1>
            </div>
            <div class="date-uploaded">
                <p class="font-weight-bold text-muted">
                    by {{ event.user_id.full_name }}, {{ event.uploaded_at }}
                </p>
            </div>
            <div class="content mb-4">{{ event.event_description | safe }}</div>
            {% if event.organised_by %}
            <div class="organised-by my-5 shadow-sm">
                <h3 class="font-weight-bold mt-lg-2">
                    Organised by {{ event.organised_by }}
                </h3>
            </div>
            {% endif %} {% if event.sponsored_by %}
            <div class="sponsored-by mb-5 shadow-sm">
                <h3 class="font-weight-bold mt-lg-2">
                    Sponsored by {{ event.sponsored_by }}
                </h3>
            </div>
            {% endif %}
            <div class="event-data text-center">
                {% if event.event_data %}
                <p>
                    <a class="btn button" href="{{ event.event_data.url }}" download>Download Reference</a>
                </p>
                {% endif %}
            </div>
        </div>
        <div class="categories-list">
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Search" />
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" style="background-color: #2e3787; border: none">Categories</a>
                <a href="/categories/events/" class="list-group-item list-group-item-action">Events</a>
                <a href="/categories/projects/" class="list-group-item list-group-item-action">Projects</a>
                <a href="#" class="list-group-item list-group-item-action">Achievements</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}